cmake==3.22.*
PyYAML==6.0
devicetree==0.0.*
GitPython==3.1.*
Jinja2
colorama==0.4.*
prettytable==3.6.*
iree-compiler==20230209.425
iree-runtime==20230209.425
iree-tools-tflite==20230209.425
nrf-regtool
